/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/b6GSvMUhvdPm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/giwlZrfIguRr.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/ScSTnJd7IAvO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/fSfFutk3QOhU.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/NIMT6OUpOWNy.otf') format('truetype');
}